/* Ana grid yapısı */
.match-detail-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 1rem;
  padding: 1.5rem;
}

/* Takım isimleri başlık kısmı */
.team-names {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
  background-color: #e9f5e9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Skor kısmı */
.score {
  grid-column: 1 / 2;
  grid-row: 2;
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Maç İstatistikleri */
.match-stats {
  grid-column: 1 / 2;
  grid-row: 3;
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Takım kadroları */
.lineups {
  grid-column: 2 / 4; /* 2'den 3'e kadar sütunları kapsar */
  grid-row: 2 / 4;    /* 2'den 3'e kadar satırları kapsar */
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-team, .away-team {
  width: 48%;
}

/* Gol Dakikaları */
.goal-times {
  grid-column: 1 / span 3;
  grid-row: 4;
  background-color: #f3f4f6;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.goal-times {
  height: 170px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

/* Hakem bilgileri */
.referee-info {
  grid-column: 1 / span 3;
  grid-row: 5;
  background-color: #f9fafb;
  padding: 3rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
